/* ANIMATIONS */
@keyframes herospantag {
    0% {background-color: #6d22ce;}
    25% {background-color: #7e22ce;}
    50% {background-color: #c022ce;}
    75% {background-color: #7e22ce;}
    100% {background-color: #6d22ce;;}
}

@keyframes slideright {
    0% {left: -10%}
    100% {left: 0}
}

@keyframes slideleft {
    0% {left: 10%}
    100% {left: 0}
}

@keyframes awardslogo {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }

    100% {
        
    }
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #8035e2;
    border: 1px solid #fff;
    border-radius: 10px;
}